.widget-categories {
  ul {
    border: 0;

    li {
      padding: 0px 0px 5px 16px;
      position: relative;
      border: 0;
      &:before {
        font-family: 'Material Design Icons', serif;
        content: "\F0E95";
        position: absolute;
        top: 6px;
        left: 0;
        font-size: 10px;
        font-weight: bold;
        color: $primary;
      }
      a {
        position: relative;
      }
    }
  }
}