////////// COLOR SYSTEM //////////
$theme-colors: (
        mother: #fff,
        child: rgba(248,249,250),
);
$brand: #ff4d29;
$brand-100:#d64022;
$dark: #092032;
$body: #516171;
$border: rgba(0,0,0,0.08);
$shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
$white: #fff;
$white-100:#f8f9fa;
$gray: #ADB3B9;
$black:#000;