#services {
    .service {
        padding: 32px;
        background-color: $white;
        box-shadow: $shadow;
        h5 {
            margin-top: 24px;
            margin-bottom: 14px;
        }
        img {
            width: 90px;
        }
        i {
            font-size: 61px;
            display: inline-block;
            background: $brand;
            color: $dark;
            line-height: 1;
            padding: 20px;
            margin-right: 0;
            border-radius: 50%;
            text-align: center;
            width: 100px;
            height: 100px;
            transition: 0.5s;
            transform: scale(1);
            &:hover{
                transition: 0.5s;
                transform: scale(1.2);
            }
        }
    }
}